convert /home/gradiscp/.config/background/kanye2.png -resize "$(xrandr | grep '*' | cut -d' ' -f4 | sed 's/x/:/')" /tmp/hintergrund.png && i3lock -i /tmp/hintergrund.png

maim /tmp/screenshot.png && convert /tmp/screenshot.png -blur 0x8 /tmp/blurry_background.png && i3lock -i /tmp/blurry_background.png



